
<table class="category_table">
    <tr>
        <td class="big_item" colspan="2" rowspan="2">
            {{ macros.product(products[0], 'catalog_big') }}
        </td>
        <td>
            {{ macros.product(products[1], 'catalog_small') }}
        </td>
        <td>
            {{ macros.product(products[2], 'catalog_small') }}
        </td>
        <td>
            {{ macros.product(products[3], 'catalog_small') }}
        </td>
        <td>
            {{ macros.product(products[4], 'catalog_small') }}
        </td>
    </tr>
    <tr>
        <td>
            {{ macros.product(products[5], 'catalog_small') }}
        </td>
        <td>
            {{ macros.product(products[6], 'catalog_small') }}
        </td>
        <td class="big_item" colspan="2" rowspan="2">
            {{ macros.product(products[7], 'catalog_big') }}
        </td>
    </tr>
    <tr>
        <td>
            {{ macros.product(products[8], 'catalog_small') }}
        </td>
        <td>
            {{ macros.product(products[9], 'catalog_small') }}
        </td>
        <td>
            {{ macros.product(products[10], 'catalog_small') }}
        </td>
        <td>
            {{ macros.product(products[11], 'catalog_small') }}
        </td>
    </tr>
</table>