{% extends "::layout.html.twig" %}

{% block content %}

    <script type="text/javascript">
        $(function(){
            $('#sizes').selectbox();
        });
    </script>

    <script type="text/javascript">
        $(function(){
            $('a#item_add_to_cart').click(function(e){
                e.preventDefault();
                var link = $(this).attr('href');
                var values = {};

                if($('#sizes').val()){
                    values['size'] = $('#sizes').val();
                }

                $.post(link,values,function(data){
                    $('#cart span').html(data['count'] + ' товаров на сумму ' + data['total'] + ' руб ');

                    $.fancybox({
                        'content' : '<h2>Товар добавлен в корзину</h2> <a href="/cart">Перейти в корзину</a>'
                    });
                })
            });
        });
    </script>
    <div id="image_container">

        {% if product.photos.galleryHasMedias %}
        {% for item in product.photos.galleryHasMedias %}
            {% if loop.index == 1 %}
                <a href="{% path item.getMedia , 'big'%}" class="fancybox">

                    {% media item.getMedia, 'big' %}
                </a>
            {% endif %}
        {% endfor %}
        <div id="second_image_wrapper">
            {% for item in product.photos.galleryHasMedias %}
                {% if loop.index != 1 %}
                    <a href="{% path item.getMedia , 'big'%}" class="fancybox">
                        {% media item.getMedia, 'big' with {'class': 'sencond_stage_photos'} %}
                    </a>

                {% endif %}
            {% endfor %}
        </div>
        {% else %}
            <img src="{{ product.getPhotoUrl() }}" alt="">
        {% endif %}

    </div>
    <div id="item_content_wrapper">
        <h1>{{ product.name }}</h1>
        <p id="item_article">Артикул : {{ product.id }}</p>
        <p id="item_description">
            {{ product.descr | raw }}
        </p>
        <p id="item_price">{{ product.price | number_format('0','',' ') }} р.</p>

        <div id="item_specs">
            {% if product.ringSize.0 %}
                <p>Размер кольца</p>
                <select name="sizes" id="sizes">
                    {% for i in product.ringSize %}
                        <option>{{ i }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>

        <br>
        <a id="item_add_to_cart" href="{{ path('unoegohh_shop_add_to_cart', {'id': product.getId}) }}">Добавить в корзину</a>
    </div>
    <div class="clear"></div>
    <script type="text/javascript">
        $(function(){
            $(".fancybox").attr('rel', 'gallery').fancybox();
        });
    </script>
{% endblock %}